.restaurant-list {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background to show the blur */
    backdrop-filter: blur(10px);
    border-radius: 30px; 
    padding: 20px;
  }
  
  .restaurant-list h1 {
    text-align: center;
    color: black;
  }
  
  .restaurant-list ul {
    list-style: none;
    padding: 0;
  }
  .header{
    color: whitesmoke;
  }
  .restaurant-list li {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .restaurant-list li h2 {
    color: #333;
  }
  
  .restaurant-list li p {
    color: #777;
  }
  